<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1> To Do App </h1>
  <form id='todo-app'>
<input type="text">
<input type="submit">
<ul>
</ul>
  </form>
  </body>
</html>
